name: Update gist with WakaTime stats
on:
  schedule:
    - cron: "*/1 * * * *"
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Update gist
        uses: 28251536/waka-box@master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 1b758247f3b1bfdc3592b45db9a8ba20
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
